#login-box {
  margin-top: 200px;
}
md-content[ui-view].ng-enter {
  animation: SlideFromBottom 1s both ease;
}
@keyframes SlideFromBottom {
  from {
    margin-top: 300px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
